# Logs
logs/
*.log
npm-debug.log*

# Dependencies
node_modules/

# Node files
npm-debug.log
yarn-error.log
.env

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Coverage
coverage/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains IDEs
.idea/
/*.iml

# Misc
.DS_Store
Thumbs.db

# Build files
build/

# CSS (preprocessed by scss)
/src/assets/css/*.css

# TODO Notes
/*.todo