/*
 * SPDX-FileCopyrightText: © Hypermode Inc. <hello@hypermode.com>
 * SPDX-License-Identifier: Apache-2.0
 */

.graph-outer {
    position: relative;
    width: 100%;

    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
