/*
 * SPDX-FileCopyrightText: © Hypermode Inc. <hello@hypermode.com>
 * SPDX-License-Identifier: Apache-2.0
 */

@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");

.map-wrapper {
  background-color: white;

  .map {
    height: calc(100vh - 150px);
  }

  .options-button {
    position: absolute;
    z-index: 500;
    box-shadow: 0 2px 6px #0000004f;
  }

  .error-alert {
    position: absolute;
    bottom: 20px;
    right: 19px;
    z-index: 500;
  }
}
