/*
 * SPDX-FileCopyrightText: © Hypermode Inc. <hello@hypermode.com>
 * SPDX-License-Identifier: Apache-2.0
 */

.wizard-steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    $size: 24px;
    $lineWidth: 2px;

    height: $lineWidth;

    margin: ($size * 0.5 + 8px) 0;
    padding: 0;
    position: relative;

    li.sep {
        list-style: none;
        height: $lineWidth;
        margin: 0 2px;
        flex: 1;

        &:last-child {
            width: 0;
            display: none;
        }
    }

    a.wizard-link {
        color: var(--light);
    }

    li.item {
        display: block;
        margin: 0;
        text-align: center;
        transform: translateY(-$size * 0.5 + $lineWidth * 0.5);
        list-style: none;
        line-height: $size;

        width: $size;
        height: $size;
        color: var(--light);
        border-radius: $size * 0.5;
        font-size: $size * 0.5;
        box-shadow: 0 0 1px 3px #eee;
    }

    li {
        background-color: var(--secondary);
    }

    li.ok {
        background-color: var(--success);
    }

    li.warning {
        background-color: var(--warning);
    }
    li.error {
        background-color: var(--danger);
    }
}
