.frame-item {
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;

    &.collapsed .body-container {
        display: none;
        height: 0;
    }

    .loading-container {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        .loading-content {
            text-align: center;
        }

        .loader {
            margin-bottom: 24px;
        }

        .text {
            font-weight: 400;
            font-size: 16px;
            text-transform: none;
            letter-spacing: 2px;
        }
    }

    &.fullscreen {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .query pre {
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
    }

    .body-container {
        flex: 1;
        display: flex;
        position: relative;
    }

    .body {
        display: flex;
        flex-direction: column;
        flex: 1;

        .toolbar {
            list-style: none;
            margin: 0;
            padding: 2px 4px;

            li {
                text-align: center;
                display: inline-block;
                color: #9c9c9c;
                text-decoration: none;
                margin-right: 4px;

                .menu-label {
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 500;
                }

                .fa {
                    font-size: 18px;
                }

                svg {
                    fill: #9c9c9c;
                }

                * {
                    transition: all 50ms;
                }

                .active {
                    color: #000000;
                    box-shadow: inset rgba(0, 0, 0, 0.3) 0px 0px 12px;

                    svg {
                        fill: #000000;
                    }

                    .menu-label {
                        font-weight: 600;
                    }
                }

                &:not(.active):hover {
                    background: #d2d0d0;
                    color: #000000;

                    svg {
                        fill: #000000;
                    }
                }
            }

            .icon {
                display: inline-block;
            }
        }

        .content {
            display: flex;
            flex: 1;
            min-width: 0;
        }

        .text-content {
            flex: 1;
            padding: 10px 12px;
        }

        .icon-container {
            display: inline-block;
            margin-right: 4px;
            width: 17px;
            height: 17px;
            padding-top: 4px;
            line-height: 17px;
        }

        .frame-code-tab {
            position: relative;
            flex: 1;
            display: flex;
            flex-direction: column;

            .btn-clipboard {
                align-self: flex-start;
                display: block;
                margin: 4px 4px;
            }

            .editor-outer {
                flex: 1;
                width: 100%;
                .CodeMirror {
                    box-shadow: inset #ccc 0 0 1px 1px;
                }
            }
        }
    }
}

.partial-graph-footer {
    padding: 11px 12px;
    background: white;
    border-top: 1px solid #d2d2d2;
}

.footer {
    padding: 11px 12px;
    background: white;
    border-top: 1px solid #d2d2d2;

    .result-message {
        vertical-align: middle;
    }

    .check-mark {
        color: #84ca23;
        font-size: 19px;
        vertical-align: middle;
    }

    .error-mark {
        color: #f44336;
        font-size: 19px;
        vertical-align: middle;
    }

    .stat {
        display: inline-block;
        margin-right: 15px;
    }

    .value {
        font-weight: 500;
    }
}

.error-footer {
    .result-message {
        color: #f44336;
    }
}
