.schema-view {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;

    .btn-toolbar {
        margin-bottom: 16px;
    }

    .grid-container {
        position: relative;
        flex: 1;
    }
}
