.schema-view {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-x: hidden;
    padding-right: 0px;
    position: relative;

    .btn-toolbar {
        margin-bottom: 16px;
    }

    .panel-layout {
        border-color: transparent;
    }

    #right-tabs,
    .tab-pane.active {
        // Enable vertical scroll inside RHS tabs, keeping tab names visible.
        max-height: 100%;
        overflow-y: scroll;
    }

    .tabs-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        .tab-content {
            display: flex;
            flex: 1;
            flex-direction: column;
            padding-top: 8px;
        }
    }

    .auto-grow.active {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .grid-container {
        flex: 1;
        overflow: hidden;
    }

    .schema-badges {
        float: right;
        margin-top: -1px;
        div {
            height: 14px;
            width: 14px;
            background-color: #f0ad4e;
            color: #333;
            border-radius: 2px;
            display: inline-block;
            margin-right: 2px;
            line-height: 14px;
            font-size: 10px;
            cursor: default;
            text-align: center;
        }
    }
}
