/*
 * SPDX-FileCopyrightText: © Hypermode Inc. <hello@hypermode.com>
 * SPDX-License-Identifier: Apache-2.0
 */

.sidebar-container {
    flex: 0;
    flex-direction: row;
    display: flex;
}

.sidebar-menu {
    flex: 0;
    background-color: #292929;

    ul {
        list-style: none;
        padding-left: 0;
        flex-direction: column;
        display: flex;
        height: 100%;
    }

    li {
        width: 78px;
        text-align: center;
        font-size: 29px;
        border-bottom: 1px solid #505050;

        &.flex-expand {
            flex: 1;
        }

        &:not(.flex-expand):hover {
            background-color: #353836;
        }

        a {
            color: #a9a9a9;
            fill: #a9a9a9;
            overflow: hidden;
            padding: 14px 4px;
            position: relative;
            display: block;
            user-select: none;
            user-drag: none;

            .icon {
                transition: transform 200ms;
            }

            label {
                font-size: 14px;
                display: block;
                overflow: hidden;
                position: relative;
                width: 100%;
                margin: 0;

                sup.beta {
                    font-size: 90%;
                    margin-left: 3px;
                    color: desaturate(darkgoldenrod, 20%);
                }

                .connection-string {
                    display: flex;
                    flex-direction: row;

                    &.error {
                        color: #dc3545;
                    }

                    .server-name {
                        flex: 1;
                        text-align: left;
                        line-break: anywhere;
                        overflow: hidden;
                        max-height: 42px;
                    }
                }
            }

            &.active {
                background: #3c3c3c;

                .icon {
                    transform: rotate(360deg);
                }
            }

            i.acl-lock {
                $size: 40px;
                position: absolute;
                pointer-events: none;
                color: var(--light);
                opacity: 0.5;
                top: 2px;
                left: 2px;
                font-size: $size * 0.25;
                &::before {
                    position: absolute;
                    content: "";
                    display: block;
                    height: $size;
                    width: $size;
                    background-color: var(--danger);
                    opacity: 0.5;
                    transform: translateX(-2px - $size/2)
                        translateY(-2px - $size/2) rotateZ(45deg);
                }
            }
        }
    }

    .logo {
        width: 52px;
        user-select: none;
        user-drag: none;
    }
}

.sidebar-content {
    flex: auto;
    width: 360px;
    transition: all 130ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    background: #3c3c3c;
    color: white;
    position: relative;

    &.open {
        padding: 0px 16px;
    }

    a {
        color: white;
        text-decoration: underline;
    }

    input,
    select {
        color: #333;
    }

    .error {
        color: var(--red);
    }
}

.sidebar-content:not(.open) {
    width: 0;
}

.sidebar-help {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .link-icon {
        margin-right: 7px;
        vertical-align: middle;
    }

    .who-made-this {
        text-align: center;

        .who {
            padding: 0 8px;
        }

        .team-link {
            margin-left: 4px;
        }
    }

    section {
        &:first-child {
            margin-top: 24px;
        }
        padding: 8px 0;
    }
}
