.sidebar-container {
    flex: 0;
    flex-direction: row;
    display: flex;
}

.sidebar-menu {
    flex: 0;
    background-color: #292929;

    ul {
        list-style: none;
        padding-left: 0;
        flex-direction: column;
        display: flex;
        height: 100%;
    }

    li {
        width: 78px;
        text-align: center;
        font-size: 29px;
        border-bottom: 1px solid #505050;
    }
    li.flex-expand {
        flex: 1;
    }
    li:not(.flex-expand):hover {
        background-color: #353836;
    }
    li a {
        color: #a9a9a9;
        fill: #a9a9a9;
        padding: 19px 4px;
        display: block;
        user-select: none;
        user-drag: none;

        .icon {
            transition: transform 200ms;
        }

        label {
            font-size: 14px;
            display: block;
            overflow: hidden;
            position: relative;
            width: 100%;

            sup.beta {
                font-size: 90%;
                margin-left: 3px;
                color: desaturate(darkgoldenrod, 20%);
            }

            .connection-string {
                display: flex;
                flex-direction: row;

                &.error {
                    color: #dc3545;
                }

                .connected,
                .refreshing,
                .disconnected {
                    font-size: 0.75em;
                    margin-top: 5px;
                }

                .connected {
                    color: #28a745;
                }
                .disconnected {
                    margin-top: 3px;

                    @keyframes glow {
                        0% {
                            color: #a9a9a9;
                        }
                        25% {
                            color: #dc3545;
                            text-shadow: 0 0 5px #dc3545;
                            transform: scale(1.05);
                            transform-origin: center;
                        }
                        50% {
                            color: #a9a9a9;
                        }
                    }
                    animation: glow 3s infinite;
                }
                .refreshing {
                    color: #17a2b8;

                    @keyframes plug {
                        0% {
                            transform: translateY(0px);
                        }
                        25% {
                            transform: translateY(2px);
                        }
                        50% {
                            transform: translateY(0px);
                        }
                    }
                    animation: plug 3s infinite;
                }

                .server-name {
                    flex: 1;
                    text-overflow: ellipsis;
                }
            }
        }

        &.active {
            background: #3c3c3c;

            .icon {
                transform: rotate(360deg);
            }
        }
    }

    .logo {
        width: 52px;
        user-select: none;
        user-drag: none;
    }
}

.sidebar-content {
    flex: auto;
    width: 360px;
    transition: all 130ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
    background: #3c3c3c;
    color: white;
    position: relative;

    &.open {
        padding: 0px 16px;
    }

    a {
        color: white;
        text-decoration: underline;
    }

    input,
    select {
        color: #333;
    }

    .error {
        color: var(--red);
    }
}

.sidebar-content:not(.open) {
    width: 0;
}

.sidebar-help {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .link-icon {
        margin-right: 7px;
        vertical-align: middle;
    }

    .who-made-this {
        text-align: center;

        .who {
            padding: 0 8px;
        }

        .team-link {
            margin-left: 4px;
        }
    }

    section {
        &:first-child {
            margin-top: 24px;
        }
        padding: 8px 0;
    }
}
