/*
 * SPDX-FileCopyrightText: © 2017-2026 Istari Digital, Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

.backups {
  .backups-view {
    flex: 1;
    display: flex;
    flex-direction: column;

    .btn-toolbar {
      margin-bottom: 12px;
    }
  }

  .backups-table {
    flex: 1;
  }
}

.backup-well {
  background-color: #efefef;
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 8px 4px;
}

.form-group.backup-preview {
  background-color: #efefef;
  border-radius: 3px;
  font-family: monospace;
  margin: 0;

  &.large {
    font-size: 1em;
    font-weight: bold;
  }
}
